---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1606507286,"sunrise":1606485514,"sunset":1606520241,"temp":40.26,"feels_like":31.5,"pressure":1024,"humidity":59,"dew_point":27.66,"uvi":1.84,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1606507200,"temp":40.26,"feels_like":34.59,"pressure":1024,"humidity":59,"dew_point":27.66,"uvi":1.84,"clouds":1,"visibility":10000,"wind_speed":2.55,"wind_deg":186,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1606510800,"temp":41.07,"feels_like":34.32,"pressure":1023,"humidity":58,"dew_point":27.97,"uvi":1.26,"clouds":1,"visibility":10000,"wind_speed":4.54,"wind_deg":179,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1606514400,"temp":42.03,"feels_like":35.33,"pressure":1022,"humidity":56,"dew_point":28,"uvi":0.62,"clouds":0,"visibility":10000,"wind_speed":4.45,"wind_deg":172,"weather":[{"id":800,"main":"Clear","description":"clear
       [...]
