---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1606257213,"sunrise":1606226122,"sunset":1606261117,"temp":35.82,"feels_like":26.65,"pressure":1015,"humidity":61,"dew_point":24.66,"uvi":1.76,"clouds":40,"visibility":10000,"wind_speed":8.05,"wind_deg":340,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1606255200,"temp":35.82,"feels_like":29.03,"pressure":1015,"humidity":61,"dew_point":24.66,"clouds":40,"visibility":10000,"wind_speed":3.83,"wind_deg":13,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.15},{"dt":1606258800,"temp":37.78,"feels_like":31.98,"pressure":1015,"humidity":61,"dew_point":26.29,"clouds":58,"visibility":10000,"wind_speed":2.44,"wind_deg":38,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.11},{"dt":1606262400,"temp":37.69,"feels_like":32.65,"pressure":1017,"humidity":65,"dew_point":27.59,"clouds":59,"visibility":10000,"wind_speed":1.41,"wind_deg":144,"weather":[{"id":803,"main":"Clouds","description":"broken
        clou[...]
