---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=pueblo,co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YELP_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-85c9dcc6fc-tjmn9; site=public_api_v3
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 78c38bc51fe48947
      Ratelimit-Resettime:
      - '2020-11-11T00:00:00+00:00'
      X-Proxied:
      - 10-65-190-220-useast1bprod
      X-Extlb:
      - 10-65-190-220-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EIPRzs68vSrQ_2tCf5pQNw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=xEo0Gg7gMSjsSKC7Eyj2Jg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=xEo0Gg7gMSjsSKC7Eyj2Jg",
        "review_count": 65, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}], "total":
        20, "region": {"center": {"longitude": -104.5733642578125, "latitude": 38.27035217485165}}}'
  recorded_at: Tue, 10 Nov 2020 19:51:58 GMT
recorded_with: VCR 6.0.0
